.footer{
    background:#222;
    color:#ffffff;
    padding:20px 0;
    margin-top:40px;
}

.footer-content{
    max-width:1200px;
    margin:0 auto;
    text-align:center;
}

.footer-content a{
    color:#a5ffd4;
    margin:0 10px;
}

.footer-content h4{
    font-size:0.8rem;
    margin-top:10px;
}
