
.sport-hero{
    max-width: 1200px;
    margin: 20px auto 30px;
    background: #ffffff;
    padding: 40px 60px;
    border-top: 4px solid #0ea574;
    border-bottom: 4px solid #0ea574;
    border-radius: 16px;
}

.sport-hero h1{
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #0c6b3f;
    text-align: center;
}

.sport-hero p{
    font-size: 1.6rem;
    line-height: 1.8;
}


.map-section{
    max-width: 1200px;
    margin: 0 auto 40px;
    background: #ffffff;
    padding: 40px 60px 50px;
}

.map-section h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.2rem;
    color: #0c6b3f;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.map-section p{
    font-size: 1.6rem;
    line-height: 1.8;
}

.map-section iframe{
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 450px;
}


.sport-links{
    max-width: 1200px;
    margin: 0 auto 60px;
    background: #ffffff;
    padding: 40px 60px 50px;
}

.sport-links-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.sport-card{
    flex: 1 1 250px;
}

.sport-card h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0c6b3f;
    font-family: 'Montserrat', sans-serif;
}

.sport-card p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 15px;
}


@media (max-width: 768px){

    .sport-hero,
    .map-section,
    .sport-links{
        padding: 25px 20px 30px;
    }

    .map-section iframe{
        height: 320px;
    }

    .sport-links-grid{
        flex-direction: column;
    }
}
